{% extends "patials/base.html" %}
{% load static %}
{% block content %}

    <!-- Start Breadcrumbs Section -->
    <section class="breadcrumbs-section background_bg" data-img-src="{% static 'image/pd-breadcrumbs-img.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page_title text-center">
                        <h1>Product Detail</h1>
                        <ul class="breadcrumb justify-content-center">
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><span>Product Detail</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header Section -->

    <!-- Start Product Detail Section -->
    <section class="products-detail-section pt_large">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-image">
                        <img class="product_img" src='{{product.image.url}}' data-zoom-image="image/product1.png" />
                    </div>
                   
                    <div id="pr_item_gallery" class="product_gallery_item owl-thumbs-slider owl-carousel owl-theme">
                         {% for p in p_image %}
                        <div class="item">
                            <a href="#" class="active" data-image="image/product1.png" data-zoom-image="image/product1.png"><img src="{{p.images.url}}" /></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="quickview-product-detail">
                        <h2 class="box-title">{{product.title}}</h2>
                        <h3 class="box-price">
                            <del>{{product.old_price}}</del>
                             </h3>
                        <h6 class="box-price current-product-price">{{product.price}}</h6> <span>$</span><small>{{product.get_precentage|floatformat}}%</small>
                        <p class="box-text">{{product.description}}</p>
                        <p class="">Type: <span>{{product.type}}</span></p>
                        <p class="">MFG: <span>{{product.mfd|date:"d M, Y"}}</span></p>
                        <p class="">LIFE: <span>{{product.life}}</span></p>
                        <p class="">Tags: <span>{% for tag in product.tags.all %} <a href="#">#{{tag.name}} </a>  {% endfor %}</span></p>

                        
                        <p class="stock">SKU: <span>{{product.sku}}</span></p>
                        <p class="stock">STOCK: <span>{{product.stock_count}}</span></p>
                        <input type="hidden" value="{{product.id}}" class="product-id" name="" id="">
                        <input type="hidden" value="{{product.title}}" class="product-title" name="" id="">


                        <div class="quantity-box">
                            <p>Quantity:</p>
                            <div class="input-group">
                                <input type="button" value="-" class="minus">
                                <input class="quantity-number qty" type="number" value="1" min="1" max="10" id="product-quantity">
                                <input type="button" value="+" class="plus">
                            </div>
                            <div class="quickview-cart-btn">
                                <a id="add-to-cart-btn" href="#" class="btn btn-primary"><img src="{% static 'image/cart-icon-1.png' %}" alt="cart-icon-1"> Add To Cart</a>
                            </div>
                        </div>
                        <div class="box-social-like d-sm-flex justify-content-between">
                            <ul class="hover-icon box-like">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                            </ul>
                            <ul class="hover-icon box-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Product Detail Section -->

    <!-- Start Product Tabs Section -->
    <section class="products-detail-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="products-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="discription-tab" data-toggle="tab" href="#discription" role="tab" aria-controls="discription" aria-selected="true">Delivery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ai-tab" data-toggle="tab" href="#ai" role="tab" aria-controls="ai" aria-selected="false">ADDITIONAL INFORMATION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">REVIEWS ({{reviews.count}})</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade tab-1 show active" id="discription" role="tabpanel" aria-labelledby="discription-tab">
                                <div class="tab-title">
                                    <h6>Delivery</h6>
                                </div>
                                <div class="tab-caption">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade tab-2" id="ai" role="tabpanel" aria-labelledby="ai-tab">
                                <div class="tab-title">
                                    <h6>Additional information</h6>
                                </div>
                                <div class="tab-caption">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="1">Brand</td>
                                                    <td>FairPlay</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1">Season</td>
                                                    <td>Spring / Summer</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1">Color</td>
                                                    <td>Black</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1">Fit</td>
                                                    <td>Comfort</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1">Size</td>
                                                    <td>S</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade tab-3" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="tab-title">
                                    <h6>Costomer Reviews</h6>
                                </div>
                                <div class="tab-caption">
                                    <div class="costomer-reviews">
                                        {% for r in reviews %}
                                        <div class="costomer-reviews-box">
                                            <div class="reviews-text">
                                                <p class="reviewer-name">{{r.user.username|title}}</p>
                                                <span class="reviews-date">{{r.date|date:"d M, Y"}}</span>
                                                <p class="reviewer-text">{{r.review}}</p>
                                                <p class="reviewer-text">Rating: <strong>{{average_rating.rating|floatformat:1}}</strong> of 5.0 </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      
                                    </div>
                                </div>
                                <div class="tab-caption">
                                    <div class="add-review">
                                        <div class="tab-title">
                                            <h6>Add a review</h6>
                                        </div>

                                        <form class="add-review-form" id="commentForm" action={% url 'core:ajax-add-review' product.id %} method="POST">
                                             {% csrf_token %} 
                                            <div class="form-group">
                                            
                                                {{review_form.review}}
                                            </div>
                                            <div class="form-group">
                                                
                                                {{review_form.rating}}
                                            </div>


                                            <div class="input-btn">
                                                <button type="submit" class="btn btn-secondary">Submit</button>
                                            </div>
                                        </form> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Tabs Section -->

    <!-- Start Related Product Section -->
    <section class="related-product pb_large">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h4>RELATED PRODUCTS</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="products-slider4 same-nav owl-carousel owl-theme" data-margin="30" data-dots="false">
                        {% for p in products %}
                        <div class="item">
                            <div class="product-box common-cart-box">
                                <div class="product-img common-cart-img">
                                    <a href="{% url 'core:product-detail' p.pid  %}" class="cart-name"><img src="{{p.image.url}}" alt="product-img"></a>
                                </div>
                                <div class="product-info common-cart-info text-center">
                                    <a href="{% url 'core:product-detail' p.pid  %}" class="cart-name">{{p.title|truncatechars:20}}</a>
                                    <p class="cart-price"><del>{{p.old_price}}</del>{{p.price}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Related Product Section -->
    {% endblock content %}